@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../public/fonts/barlow-condensed-800.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
